<div class="container">

    <h1>Bienvenido a la Sala de Juegos!</h1><br><br>
    <h3>Mejores Puntajes:</h3>
    <div class="row overflow-auto" style="max-height: 300px;">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Juego</th>
              <th scope="col">Jugador</th>
              <th scope="col">Puntaje</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td>Ahorcado</td>
                <td>{{puntajes.ahorcado.jugador}}</td>
                <td>{{puntajes.ahorcado.puntaje}}</td>
            </tr>
            <tr>
                <td>Mayor Menor</td>
                <td>{{puntajes.mayorMenor.jugador}}</td>
                <td>{{puntajes.mayorMenor.puntaje}}</td>
            </tr>
            <tr>
                <td>Preguntados</td>
                <td>{{puntajes.preguntados.jugador}}</td>
                <td>{{puntajes.preguntados.puntaje}}</td>
            </tr>
            <tr>
                <td>Clicker</td>
                <td>{{puntajes.clicker.jugador}}</td>
                <td>{{puntajes.clicker.puntaje}}</td>
            </tr>
          </tbody>
        </table>
      </div>
</div>
