<h2>Los resultados de la encuesta son: </h2>
<h3>Juego Favorito:</h3>
Ahorcado: {{resultados.juegoFavorito.ahorcado}}<br>
Mayor Menor: {{resultados.juegoFavorito.mayorMenor}}<br>
Clicker: {{resultados.juegoFavorito.clicker}}<br>
Preguntados: {{resultados.juegoFavorito.preguntados}}<br><br>
<h3>Juego Menos Favorito:</h3>
Ahorcado: {{resultados.juegoMenosFavorito.ahorcado}}<br>
Mayor Menor: {{resultados.juegoMenosFavorito.mayorMenor}}<br>
Clicker: {{resultados.juegoMenosFavorito.clicker}}<br>
Preguntados: {{resultados.juegoMenosFavorito.preguntados}}<br><br>
<h3>Recomendarias la pagina a un amigo?</h3>
Si: {{resultados.recomendarias.si}}<br>
No: {{resultados.recomendarias.no}}
