@import '../../../styles.css';

.juego {
  height: 800px;
  width: 40%;
  margin-left: 30%;
  border: 10px solid;
  border-radius: 15px;
  padding: 2em;
  background: black;
  color: cyan;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  letter-spacing: 1.1px;
  font-size: 1.3em;

}
.tablero{
  margin: 50px auto;
  width: 350px;
  height: 350px;
  border: 10px solid ;
  background-color:rgba(186, 81, 212, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}


button:focus {outline:0;}